* {
  margin: 0;
}

main {
  color: white;
}

#navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
  margin: 0;
}

/*
a#navbar{
  color:white
*/

@media only screen and (max-width: 802px) {
  #navbar {
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
}

#contact-top-right {
  margin-left: 100px;
}

#contact-top-right > a {
  text-align: center;
  border: white;
  border-style: solid;
  border-width: 2px;
  width: fit-content;

  width: 8em;
  padding: 10px 25px 10px 25px;
}

#envira-logo-top-left {
  margin-right: 100px;
}
.background-image-women {
  background-image: url("../images/banners/header_unsplash_dummy.jpg");
  /* height: 500px;
  width: auto; */
}

/*Title Feel the Enviva*/
.title-text-centre-control {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#title-font-green-control {
  color: green;
}

.title-main-text-area-control {
  text-align: center;
}
.title-main-text-area-parent {
  padding: 25px;
}

div.about-anchor-parent {
  text-align: center;
  border: white;
  border-style: solid;
  border-width: thin;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  padding: 10px 0px 10px 0px;
}

div.about-anchor-parent > a {
  color: white;
}

.box-info-container-parent {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0px 0px 0px;
  color: black;
}

.box-container-control {
  border-style: solid;
  height: 300px;
  width: 300px;
  box-shadow: 10px 10px 5px grey;
  border: 1px solid #c3c3c3;
  /* display: flex; */
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
@media only screen and (max-width: 802px) {
  .box-info-container-parent {
    flex-wrap: wrap;
  }
}

div #box-content-spacing {
  padding: 35px 20px 10px 20px;
  display: flex;
  justify-content: center;
}

div p.box-midtext-control {
  font-size: 20px;
}

section.work-with-container-parent {
  margin: 100px 0px 0px 0px;
}

section.work-with-container-parent > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 50px 0px 100px 0px;
  color: black;
}

section.work-with-container-parent > h2 {
  text-align: center;
  color: green;
  font-size: 20px;
}

.background-image-lorry-driver {
  background-image: url("../images/banners/unsplash_dummy.jpg");
  background-size: cover;
}

div.services-anchor-parent {
  text-align: center;
  border: black;
  border-style: solid;
  border-width: thin;
  width: fit-content;
  width: 8em;
  padding: 10px 0px 10px 0px;
  border-color: white;
}

div.nation-margin-container {
  margin: 0px 75px 0px 75px;
}
div.nation-padding-control {
  margin: 50px 0px 50px 0px;
  display: block;
  width: 400px;
  height: auto;
  padding: 5px;
  max-width: 100%;
}

div.nation-padding-control > p {
  font-size: 20px;
}

div.services-anchor-parent > a {
  color: white;
}

.heading3-control {
  font-size: 30px;
}
