* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0px 50px 0px;
  margin: 0;
}

#contact-top-right {
  margin-left: 100px;
}

#envira-logo-top-left {
  margin-right: 100px;
}

/*Title Feel the Enviva*/
.title-text-centre-control {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

#title-font-green-control {
  color: green;
}

.title-main-text-area-control {
  text-align: center;
}
.title-main-text-area-parent {
  padding: 25px;
}

.about-anchor-parent {
  text-align: center;
  border: black;
  border-style: solid;
  border-width: thin;
  width: fit-content;
}
